.App {
  text-align: center;

  background-color: #e8e9eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.App-font-color, .App-title, .App-title-detail, .App-add-item-btn, .App-remove-item-btn, .App-item-count, .App-item-detail {
  color: #313638;
}

.App-button, .App-add-item-btn, .App-remove-item-btn {
  /*background-color: #4CAF50;*/ /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App-title {
  font-size: 16px;
}

.App-title-detail {
  font-size: 16px;
}

.App-add-item-btn {
  background-color: #e4b363;
}

.App-remove-item-btn {
  background-color: #ef6461;
}

.App-item {
  background-color: #e0dfd5;
  padding: 10px;
  margin-top: 10px;
}

.App-item:hover { 
  background-color: #e8e9eb;
}

.App-item-count {
  width: 60px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.App-item-detail {
  width : 300px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}

.App-item-input {
  padding: 13px 32px;
  font-size: 16px;
}

.App-list {

}

/*-------------------------------------------------------------------------------*/
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
